body{
	margin: 0px;
}

header {
	width: 100%;
	height: 15%;
	min-height: 15%;

	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 2px;
	text-align: center;
}

.logo {
	float: left;
	max-width: 100%;
	height: auto;
}

.banner {
	float: right;
	width: 85%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: url("assets/oak.jpg");
}

aside {
	float: left;
	width: 15%;
	background-color: black;
	font-family: 'Nunito', sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
}

content {

	float: right;
	width: 75%;

	padding: 2%;
	height: 70%;
	font-family: 'Nunito', sans-serif;

	overflow-y: scroll
}

ul.nav {
	margin-top: 2%;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	font-size: large;
  }
ul.nav > a > li {
	display: inline-block;
	padding: 10px 20px;
}
ul.nav > a > li:hover {
	background-color: rgba(0, 0, 0, .8);
}
ul.nav > a {
	color: white;
	text-decoration: none;
}

iframe {
	border: none;
	width: 80%;
	height: 65%;
	padding: 10%;
}

.boxed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #eeeeee;
	background-color: rgb(82, 103, 108);
	border-radius: 8px;
	padding: 10px;
	width: fit-content;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
